html {
  height: 100%;
  width: 100%;
}
nav {
  background-color: #333;
  overflow: hidden;
}
#myH2O {
  text-align: center;
  color: rebeccapurple;
  text-decoration: underline
  
}
#cardContainer {
  text-align: center;
  color: magenta;
}
#myH2 {
  color: Green;
  text-decoration: underline;
}
button {
  background-color: #4CAF50;
  color: rebeccapurple;
  padding: 14px 20px;
  margin: 8px 20px; 
  border-style: double 10px;
  border-color: rebeccapurple;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
h2 {
  text-align: center;
}
li {
  text-align: center;
}
