html {
  height: 100%;
  width: 100%;
}

#myH2O {
  text-align: center;
  color: rebeccapurple;
  
}
#cardContainer {
  text-align: center;
  color: magenta;
}
#myH2 {
  color: Green;
  
}
button {
  background-color: #4CAF50;
  color: rebeccapurple;
  padding: 14px 20px;
  margin: 8px 20px; 
  border-style: double 100px;
  border-color: rebeccapurple;
  cursor: pointer;
  width: 100%;
  font-weight: bold
}
h2 {
  text-align: center;
}
li {
  text-align: center;
}
